@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-right {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce-right {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  height: 24vh;
}

.banner__line-left {
  width: 60px;
  height: 5px;
  background-color: black;
  border-radius: 3px;
  margin-right: 16px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-animation: bounce-left 1s;
          animation: bounce-left 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 10;
}

.banner__line-right {
  width: 60px;
  height: 5px;
  background-color: black;
  border-radius: 3px;
  margin-left: 16px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-animation: bounce-right 1s;
          animation: bounce-right 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 10;
}

.banner__wrapper:hover .banner__line-left {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.banner__wrapper:hover .banner__line-right {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.banner-wrapper__text {
  font-size: 85px;
}

.menu-wrapper {
  height: 80vh;
  width: 80vw;
}

.tile {
  opacity: 0;
  height: 44%;
  max-width: 44%;
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.tile--late-animated {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.tile:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-box-shadow: 2px 2px 8px 5px lightsteelblue;
          box-shadow: 2px 2px 8px 5px lightsteelblue;
}

.heading-aboutus__heading {
  font-size: 40px;
}

.heading-prices__heading {
  font-size: 40px;
}

.content-prices__h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.content-prices__ul {
  position: relative;
  width: 50%;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 50px;
}

.heading-contact__heading {
  font-size: 40px;
}

@media screen and (min-height: 1300px) {
  .banner {
    height: 10vh;
  }
  .menu-wrapper {
    height: 60vh;
  }
}

@media screen and (min-width: 1600px) {
  .banner {
    height: 18vh;
  }
  .tile-container__tile {
    width: 100%;
  }
}
/*# sourceMappingURL=large.css.map */