@-webkit-keyframes shine {
  100% {
    left: 55rem;
  }
}

@keyframes shine {
  100% {
    left: 55rem;
  }
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #F0F0F0;
}

.banner {
  max-width: 100%;
  height: 17vh;
  background-color: white;
  padding: 20px;
  background-color: #E0E0E0;
  margin: 0;
  border-bottom: 2px solid lightsteelblue;
}

.banner__wrapper--icon {
  z-index: 10;
  width: 70px;
  height: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.banner__wrapper--text {
  font-size: 50px;
}

.menu-wrapper {
  position: relative;
  width: 100vw;
  height: 160vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px;
  margin: 0;
}

.menu-wrapper__tile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 24%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px 0px lightsteelblue;
          box-shadow: 2px 2px 4px 0px lightsteelblue;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}

.menu-wrapper__tile::after {
  content: '';
  position: absolute;
  left: -18rem;
  height: 30rem;
  width: 7rem;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: skewX(-50deg);
          transform: skewX(-50deg);
}

.menu-wrapper__tile:hover::after {
  -webkit-animation: shine .5s forwards linear;
          animation: shine .5s forwards linear;
}

.menu-wrapper__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu-wrapper__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-backdrop-filter: blur(5px) saturate(1.15);
          backdrop-filter: blur(5px) saturate(1.15);
  border-radius: 5px;
}

.menu-wrapper__text {
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  z-index: 10;
  text-shadow: 0px 0px 15px #111111;
}

.aboutus-wrapper {
  text-align: center;
}

.aboutus-wrapper__heading {
  text-transform: uppercase;
}

.aboutus-wrapper__heading::before {
  content: " ";
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 2px;
  margin-right: 13px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  margin-bottom: 10px;
}

.aboutus-wrapper__heading::after {
  content: " ";
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 2px;
  margin-left: 13px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  margin-bottom: 10px;
}

.aboutus-wrapper__heading:hover::before {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.aboutus-wrapper__heading:hover::after {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}
/*# sourceMappingURL=style.css.map */