//ANIMATIONS
@keyframes shine
  100% 
    left: 55rem

*, *::after, *::before 
    box-sizing: border-box
    padding: 0
    margin: 0

// GLOBAL 

html
    overflow-x: hidden

body
    background-color: #F0F0F0



//HEADER

    
.banner
    max-width: 100%
    height: 17vh
    background-color: white
    padding: 20px
    background-color: #E0E0E0
    margin: 0
    border-bottom: 2px solid lightsteelblue
    


.banner__wrapper--icon
    z-index: 10
    width: 70px
    height: auto
    transform: rotate(90deg)

.banner__wrapper--text
    font-size: 50px


// NAV 

.menu-wrapper
    position: relative
    width: 100vw
    height: 160vh
    left: 50%
    transform: translateX(-50%)
    padding: 15px
    margin: 0

.menu-wrapper__tile
    position: relative
    display: flex
    align-items: center
    justify-content: center
    background-color: #fff
    height: 24%
    border-radius: 5px
    box-shadow: 2px 2px 4px 0px lightsteelblue
    transition: .3s
    overflow: hidden

.menu-wrapper__tile::after
    content: ''
    position: absolute
    left: -18rem
    height: 30rem
    width: 7rem
    background-color: rgba(255, 255, 255, 0.3)
    transform: skewX(-50deg)

.menu-wrapper__tile:hover::after
    animation: shine .5s forwards linear

.menu-wrapper__img
    position: absolute
    object-fit: cover
    width: 100%
    height: 100%

.menu-wrapper__shadow
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 1
    backdrop-filter: blur(5px) saturate(1.15)
    border-radius: 5px

.menu-wrapper__text
    text-transform: uppercase
    color: white
    font-size: 50px
    z-index: 20
    text-shadow: 0px 0px 15px #111111


//ABOUT US 

.aboutus-wrapper
    text-align: center

.aboutus-wrapper__heading
    text-transform: uppercase

.aboutus-wrapper__heading::before
    content: " "
    display: inline-block
    width: 50px
    height: 5px
    background-color: black
    border-radius: 2px
    margin-right: 13px
    transition: transform .4s
    margin-bottom: 10px

.aboutus-wrapper__heading::after
    content: " "
    display: inline-block
    width: 50px
    height: 5px
    background-color: black
    border-radius: 2px
    margin-left: 13px
    transition: transform .4s
    margin-bottom: 10px
    

.aboutus-wrapper__heading:hover::before
    transform: translateX(-15px)

.aboutus-wrapper__heading:hover::after
    transform: translateX(15px)








